
/*header*/
body{
  position: relative;
}

.btn-create {
  margin-left: 30px;
}
svg{
  cursor: pointer;
}

/******************************** Index */

.Sign-up-card{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 25%);
  margin:auto;
  width: 400px;
  padding-bottom: auto !important;
  height: 540px;
  box-shadow: 5px 10px  #6db3db; 
  border: 2px solid #6db3db;
}

.Login-card{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 25%);
  margin-bottom: 10px;
  width: 400px;
  height: 500px;
  display: block;
  flex-wrap: wrap;
  box-shadow: 5px 10px  #6db3db; 
  border: 2px solid #6db3db;
}
.reset-card{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 25%);
  margin:auto;
  width: 400px;
  height: 500px;
  box-shadow: 5px 10px  #6db3db; 
  border: 2px solid #6db3db;
}

.forgot-card{
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 25%);
  margin: auto;
  margin-top: 15rem;
  /* width: 23%; */
  /* height: 20%; */
  /* display: flex; */
  box-shadow: 5px 10px #6db3db;
  border: 2px solid #6db3db;
}

#class{
  font-size: 24px;
  text-align: left;

}
.navbar-brand span{
  font-size: 20px;
}
  .border-bottom {
    border-bottom: 1px solid #66a5e3 !important;
  }

  .border {
    border: 1px solid #66a5e3 !important;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .5rem;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  }

  .card:hover {
    text-decoration: none;
    color: #080808;
    box-shadow: 10px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 10px #0000001f, 0 4px 8px #0000000f;
  }
  .list-group-item {
    max-width: 350px;
    max-height: 350px;
  }

  ol {
    position: relative;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
    /* padding-left: 1.5rem; */
    padding-top: 1.5rem;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0px;
    left: auto;
    display: none;
    float: left;
    min-width: 15rem;
    padding: .125rem 0;
    margin: .5rem 0 0;
    font-size: 1.125rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00000026;
    border-radius: .25rem;
}
.dropdown-item{
  width: auto !important;
  cursor: pointer;
}
.dropdown-item:focus{
  background-color: #f3f3f3;
}

  @media only screen and (max-width: 992px) {
    body:not(.course-menu-expanded) .body-right {
      display: none;
      width: 288px;
      padding-left: 24px;
    }
  }

  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .avatar {
    position: absolute;
  }
a.nav-link.dropdown-toggle.align-left{
  background-color: none !important;
}

dropdown-menu:active{
  background-color: none !important;
}
.dropdown-svg{
  color:white !important;
  display: block;
}



/*Side bar left*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f3f3f3;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f3f3f3;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f3f3f3;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f3f3f3;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    content: none !important;
    border: none;
}
.dropdown-toggle::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  content: none !important;
  border: none;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f3f3f3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


a.article,
a.article:hover {
    background: #f3f3f3 !important;
    color: #fff !important;
}

/*Side bar left*/


/*main*/

.jumbotron {
  background-color: #eef2f8f8;
}
.PostForm{
  padding: 40px 40px;
}

