/*header*/

div.search-Bar {
    margin-top: -6px;
    display: inline-block;
}

.nav-img {
    margin-top: -16px;
}

.list-notifications li {
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 10px;
    margin-right: 20px;
}

.list-notifications li a {
    text-decoration: none;
}

body {
    position: relative;
}

.btn-create {
    margin-left: 30px;
}

svg {
    cursor: pointer;
}


/******************************** Index */

.Sign-up-card {
    width: 400px;
    padding-bottom: auto !important;
    box-shadow: 5px 10px #6db3db;
    border: 2px solid #6db3db;
}

.Login-card {
<<<<<<< HEAD
  width: 100%;
  width: 400px;
  display: block;
  box-shadow: 5px 10px #6db3db;
  border: 2px solid #6db3db;
}



.forgot-card {

  
  width: 400px;
  display: block;
  box-shadow: 5px 10px #6db3db;
  border: 2px solid #6db3db;
=======
    width: 400px;
    display: block;
    box-shadow: 5px 10px #6db3db;
    border: 2px solid #6db3db;
}

.reset-card {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 25%);
    margin: auto;
    width: 400px;
    height: 500px;
    box-shadow: 5px 10px #6db3db;
    border: 2px solid #6db3db;
}

.forgot-card {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 25%);
    margin: auto;
    margin-top: 15rem;
    /* width: 23%; */
    /* height: 20%; */
    /* display: flex; */
    box-shadow: 5px 10px #6db3db;
    border: 2px solid #6db3db;
>>>>>>> 523be2d7a35588145bb13d47f61aee553084d6b7
}

#class {
    font-size: 24px;
    text-align: left;
}

.navbar-brand span {
    font-size: 20px;
}

.border-bottom {
    border-bottom: 1px solid #66a5e3 !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: 0.5rem;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
    text-decoration: none;
    color: #080808;
    box-shadow: 10px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 10px #0000001f, 0 4px 8px #0000000f;
}

.list-group-item {
    max-width: 350px;
    max-height: 350px;
}

ol {
    position: relative;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
    /* padding-left: 1.5rem; */
    padding-top: 1.5rem;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0px;
    left: auto;
    display: none;
    float: left;
    padding: 0.125rem 0;
    margin: 0.5rem 0 0;
    font-size: 1.125rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00000026;
    border-radius: 0.25rem;
}

.dropdown-item {
    width: auto !important;
    cursor: pointer;
}

.dropdown-item:focus {
    background-color: #f3f3f3;
}

ol li {
    margin: 2.2%;
}

@media only screen and (max-width: 992px) {
    body:not(.course-menu-expanded) .body-right {
        display: none;
        width: 288px;
        padding-left: 24px;
    }
}

.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

a.nav-link.dropdown-toggle.align-left {
    background-color: none !important;
}

dropdown-menu:active {
    background-color: none !important;
}

.dropdown-svg {
    color: white !important;
    display: block;
}

<<<<<<< HEAD
=======

/*Side bar left*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f3f3f3;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f3f3f3;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f3f3f3;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f3f3f3;
}

a[data-toggle="collapse"] {
    position: relative;
}

>>>>>>> 523be2d7a35588145bb13d47f61aee553084d6b7
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    content: none !important;
    border: none;
}

.dropdown-toggle::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    content: none !important;
    border: none;
}

<<<<<<< HEAD
=======
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f3f3f3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #f3f3f3 !important;
    color: #fff !important;
}


>>>>>>> 523be2d7a35588145bb13d47f61aee553084d6b7
/*Side bar left*/


/*main*/

.jumbotron {
    background-color: #eef2f8f8;
}


/*Profile*/

.fb-profile img.fb-image-lg {
<<<<<<< HEAD
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    z-index: 9;
  }
}
=======
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px) {
    .fb-profile-text>h1 {
        font-weight: 700;
        font-size: 16px;
    }
    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}

>>>>>>> 523be2d7a35588145bb13d47f61aee553084d6b7

/*class */

.nav-link {
    border: none !important;
    border-bottom: none !important;
}

.People-Card-List {
    width: 200%;
}

.people-type {
    border-bottom: 1px solid #5086de;
}

.list-group {
    margin-top: 32px;
}

.nav-link:active {
    border-bottom: 1px solid #5086de;
}

.card-post {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: 0.5rem;
}

#share-idea {
    cursor: pointer;
}

@media only screen and (max-width: 1100px),
(min-device-width: 976px) and (max-device-width: 750px) {
    aside {
        display: inline-block;
    }
}

.avt-group-text {
    background: none !important;
    border: none !important;
}

.assignment-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid #00000020;
    border-radius: 0.5rem;
}

.ContainHideComment span {
  cursor: pointer;
}

#button-search {
  color: black;
  border-radius: 0 3px 3px 0;
  background-color: white;
  border: 1px solid black;
  border-left: none;
  outline: none;
}

#search-field {
  border: 1px solid black;
  border-right: none;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.fileAttach {
  font-size: 100px;
}

.content-attach {
  color: #007bff;
  width: 100px;
}

.submit-file {
  box-shadow: 0 4px 8px 0 #00000033;
  border-radius: 10px;
  padding: 10px;
}

.submit-file .fileAttach {
<<<<<<< HEAD
  font-size: 50px;
}

.mainSection {
  box-shadow: 0px 5px 5px 5px black;
}

.wrapPicture {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
}

.wrapPicture:hover {
  cursor: pointer;
}

.chooseFile {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.avatar {
  height: 100%;
  width: 100%;
}

.avatar:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: white;
}
=======
    font-size: 50px;
}
>>>>>>> 523be2d7a35588145bb13d47f61aee553084d6b7
