<div style="text-align: center;">
    <header style="background-color: #1fa9b8;">
        <h1 style="color: white; padding: 50px; margin: 0;">TDTU CLASSROOM</h1>
    </header>
    <div style="text-align:center;font-size: 20px; background-color:white;padding:100px 100px;">
        <h3>Hi '.$fullName.' thanks for signing up!</h3>
        <p>You have requested to sign up for a classroom account according to the information</p>
        <div style="border:2px dashed #1fa9b8;width:30%;margin: auto; text-align: left; padding:10px 15px;">
            <p><b>User Name: </b> '.$userName.' </p>
            <p><b>Password: </b> '.$password.'</p>
        </div>
        <p>Please click button bellow to complete registration</p>
        <button style="background-color:#38c4d3;border:none;border-radius:5px;padding:10px 20px;">
    <a style="color:white;text-decoration: none;"
    href="localhost/Final-Project/Handle/VerifiedEmailForSignUp?email='.$email.'&hash='.$hash.'">Verification</a></button>
        <p style="color:red;">*This email is valid only within 10 minutes</p>
        <p>If it\'s not you, please ignore this email</p>
    </div>
    <footer style="background-color:#1fa9b8;color:white;padding:30px;">
        <p>&copy; Copyright by Hieu & Duy</p>
    </footer>
</div>